proxy_cache_path  /tmp  levels=1:2    keys_zone=STATIC:10m
inactive=24h  max_size=20m;

upstream webserver1 {
    server      {{ groups["nginx_web"][0] }};
    keepalive   10;
}

server {
    listen              80;
    listen              443 ssl;
    server_name         fileserver.local;
    ssl_certificate     fileserver.local.pem;
    ssl_certificate_key fileserver.local-key.pem;

    location / {
        proxy_pass             http://{{ groups["nginx_web"][0] }};
        proxy_set_header       Host $host;
        proxy_set_header       Connection "";
        proxy_http_version     1.1;
        proxy_buffering        on;
        proxy_cache            STATIC;
        proxy_cache_valid      200  1m;
        proxy_cache_valid      404  1m;
        proxy_cache_use_stale  error timeout invalid_header updating
                                http_500 http_502 http_503 http_504;
    }
}

server {
    listen 8080;
    
    location /stub_status {
        stub_status on;
    }
}